<h1>Weather Lab</h1>
<p> Hey, would you like to know the weather anywhere, just enter the zip</p>
<form method ='GET' action="/weather">
    <label> ZIP Code </label>
    <input name='zipcode'>
    <button> Enter </button>
</form>

