<H1>Here are your results</H1>
<%= result[0].location.name %>
<p>The current temperature is <%= result[0].current.temperature %> degrees.</p>
<p> The wind speed is <%= result[0].current.winddisplay %>  </p>